@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
   font-family: "Open Sans";
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #2b3137;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: 0 auto;
}


.contact-info {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.skills, .experience, .projects {
    list-style: none;
    margin-bottom: 1rem;
}

.skills li, .experience li, .projects li {
    margin-bottom: 0.5rem;
}

hr {
    border: 1px solid #ddd;
    margin: 2rem 0;
}

.image-container {
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to center vertically */
    width: 100vw;  /* Full width to center horizontally */
}

#author {
   font-style: italic;
   font-weight: normal;
   font-size: 18px;
   color: #1535d3;
}

#projects-container button {
   background-color: #2b3137;
   margin-top: 15px;
   cursor: pointer;
   border-radius: 8px;
   border: none;
   transition: 0.2s;
   padding: 0;
}

#projects-container #git-btn {
   margin-right: 10px;
}

#projects-container #git-btn:hover  {
    background-color: #2dba4e;
}

#projects-container #project-btn:hover  {
    background-color: #1cbdb8;
}

#projects-container button:active {
    transform: scale(0.95);
}

#projects-container button a {
   padding: 4px 10px;
   display: flex;
   align-items: center;
   gap: 6px;
   color: #fff;
   text-decoration: none;
}

#projects-container button img {
   width: 25px;
}

.project-component {
   margin-top: 20px;
}

.project-component h3 {
   margin-bottom: 10px;
}

#demonstration-gif {
   width: 100%;
   display: block;
}

.project-images {
   display: flex;
   flex-direction: column;
   gap: 20px;
}